<!-- 
Author: Punit Patel
Date Completed: April 9 2020
Student ID: 100734638
-->
<!-- Main Content -->
<div class="row">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="/image/udit.jpeg" class="card-img-top" alt="UDIT PATEL">
            <div class="card-body">
              <p class="card-text">Experienced Developer with a demonstrated history of working in the internet industry. Skilled in SQL, jQuery, AJAX, Cascading Style Sheets (CSS), and .NET Framework. Strong engineering professional graduated from Gujarat Technological University </p>
            </div>
          </div>
          <ul class="list-unstyled">
            <li class="media">
              <img src="/image/db.jfif" class="mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Satrted My Career as Developer</h5>
                 2015 - Present.
            </div> 
            </li>
            <li class="media my-4">
              <img src="/image/gtu.jfif" class="mr-3" alt="...">
              <div class="media-body">
                <h5 class="mt-0 mb-1">Completed Bachelors of Computer Engineering</h5>
                2012 - 2015
            </div>
            </li>
            <li class="media my-4">
                <img src="/image/download.png" class="mr-3" alt="...">
                <div class="media-body">
                  <h5 class="mt-0 mb-1">Completed Diploma in Computer Science</h5>
                  2010 - 2012
                </div>
              </li>  
        </ul>
    </div>
</div>

    