<!-- 
Author: Punit Patel
Date Completed: April 9 2020
Student ID: 100734638
-->
<!-- Main Content -->
<div class="row">
    <div class="col">
      <ul class="list-unstyled">
        <li class="media">
          <img src="/image/dharti.jpeg" id="dharti" class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1">Dharti Solar Pumps</h5>
        </div> 
        </li>
        <li class="media my-4">
          <img src="/image/hitechqa.png" class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1">HI-Tech QA Services</h5>
        </div>
        </li>
        <li class="media my-4">
            <img src="/image/hariom.png" class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Hari Om Enterprises</h5>
            </div>
          </li>  
          <li class="media my-4">
            <img src="/image/hitech.jfif" class="mr-3" alt="...">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Hi-Tech Enterprises</h5>
            </div>
          </li>
        </ul>
    </div>
</div>

