<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Branding</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Digital Marketing</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Software Development</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Mobile App</a>
      <a class="list-group-item list-group-item-action" id="list-web-list" data-toggle="list" href="#list-web" role="tab" aria-controls="web">Website Design and Development</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list"><img src="/image/branding.png" class="card-img-top" alt="Branding">Successful brands use great design to create positive expectations and then deliver on them consistently. By employing bold visual statements and subtle artistic cues, we can help you extract and express the deeper connection between your value proposition and the needs of your customers.</div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"><img src="/image/Digital-Marketing.jpg" class="card-img-top" alt="Digital marketing">Best choice for today's growing brands because of one single reason: Results. We understand that for a brand like yours, it is not easy to stand out in today's digital competitive eco-system and therefore it becomes our key responsibility to make your brand stand out of all the clutter. Our digital marketing methods are innovative and we always believe in anticipating the intent of your customers and search engines.</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list"><img src="/image/software.jfif" class="card-img-top" alt="Software Develoment">custom software development is inclusive of a wide array of solutions. Over the years we have rendered a whole spectrum of
        bespoke software development solutions to variegated industries across the orb.
        
        Our team of experienced and innovative software developers ensure accelerated and yet efficient software products suited for your unique business objectives.
        With best practices and execution methods in place backed by a state of the art infrastructure, we guarantee seamless deliveries.
        
        </div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"><img src="/image/mobile.png" class="card-img-top" id="mobile" alt="Mobile Development">We are a cutting edge mobile app development company based in India, creating robust iPhone and Android apps for clients across the globe. Our expert team of app developers and well qualified marketers help you design and market your mobile app.</div>
      <div class="tab-pane fade" id="list-web" role="tabpanel" aria-labelledby="list-web-list"><img src="/image/web.jpeg" class="card-img-top" alt="Web development">Offering a complete range of Web Solutions including Web Designing, Web Hosting, E-Commerce Solutions, Multimedia Solutions, Internet Marketing and many more.

      </div>

    </div>
  </div>
</div>